<!DOCTYPE html>
<html>
<head>
    <title>ФудТорг</title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="template language" name="keywords">
    <meta content="Tamerlan Soziev" name="author">
    <meta content="Admin dashboard html template" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="favicon.png" rel="shortcut icon">
    <link href="apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet" type="text/css">
    <link href="static/bower_components/select2/dist/css/select2.min.css" rel="stylesheet">
    <link href="static/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="static/bower_components/dropzone/dist/dropzone.css" rel="stylesheet">
    <link href="static/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="static/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="static/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css" rel="stylesheet">
    <link href="static/bower_components/slick-carousel/slick/slick.css" rel="stylesheet">
    <link href="static/css/main.css?version=4.4.0" rel="stylesheet">
</head>
<body class="menu-position-side menu-side-left full-screen with-content-panel">
<div class="all-wrapper with-side-panel solid-bg-all">
    <div class="layout-w">
        <!--------------------
        START - Mobile Menu
        -------------------->
        <div class="menu-mobile menu-activated-on-click color-scheme-dark">
            <div class="mm-logo-buttons-w"><img src="" width="100" height="30" alt=""/>
                <div class="mm-buttons">
                    <div class="content-panel-open">
                        <div class="os-icon os-icon-grid-circles"></div>
                    </div>
                    <div class="mobile-menu-trigger">
                        <div class="os-icon os-icon-hamburger-menu-1"></div>
                    </div>
                </div>
            </div>
            <div class="menu-and-user">
                <div class="logged-user-w">
                    <div class="avatar-w">
                        <img alt="" src="static/img/avatar1.jpg">
                    </div>
                    <div class="logged-user-info-w">
                        <div class="logged-user-name">
                            ФудТорг
                        </div>
                        <div class="logged-user-role">
                            Администратор
                        </div>
                    </div>
                </div>
                <div class="mobile-menu-magic">
                    <h4>&nbsp;</h4>
                </div>
            </div>
        </div>
        {% include 'addtemp/side_menu.html' %}
        <div class="content-w">
            <div class="top-bar color-scheme-transparent"></div>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Справочник номенклатуры ФудТорг</a>
                </li>
            </ul>
            <div class="content-panel-toggler">
                <i class="os-icon os-icon-grid-squares-22"></i><span>Справочник</span>
            </div>
            <div class="content-i">
                <div class="content-box">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for=""> Выберите группу товаров</label>
                                <select class="form-control select2" id="groups">
                                    <option value="" disabled selected>...</option>
                                    <option value="all">Все</option>
                                    {% for group in groups_list %}
                                    <option value="{{group.parent_code}}">{{group.parent_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" id="homebook_items"></div>
                    <div class="row w-100 mt-5"></div>
                    <h5 class="form-header">Создать родителя</h5>
                    <div class="form-row">
                        <div class="form-group col-4">
                            <label for="parent_name">Наименование родителя</label>
                            <input type="text" class="form-control" id="parent_name">
                        </div>
                        <div class="form-group col-4">
                            <label for="parent_code">Код родителя</label>
                            <input type="text" class="form-control" id="parent_code">
                        </div>
                        <div class="row w-100"></div>
                        <div class="form-group col-1">
                            <label for="parent_create"></label>
                            <a class="btn btn-primary text-white" id="parent_create">Создать</a>
                        </div>
                    </div>
                    <div class="row w-100 mt-5"></div>
                    <h5 class="form-header">Создать товар</h5>
                    <div class="form-row">
                        <div class="form-group col-4">
                            <label for="item_name">Наименование товара</label>
                            <input type="text" class="form-control" id="item_name">
                        </div>
                        <div class="form-group col-2">
                            <label for="item_code">Код товара</label>
                            <input type="text" class="form-control" id="item_code">
                        </div>
                        <div class="form-group col-4">
                            <label for="item_parent">Родитель</label>
                            <select id="item_parent" class="form-control">
                                <option value="" disabled selected>...</option>
                                {% for group in groups_list %}
                                <option value="{{group.parent_code}}">{{group.parent_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="row w-100"></div>
                        <div class="form-group col-1">
                            <label for="item_create"></label>
                            <a class="btn btn-primary text-white" id="item_create">Создать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="display-type"></div>
</div>
<script src="static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="static/bower_components/popper.js/dist/umd/popper.min.js"></script>
<script src="static/bower_components/moment/moment.js"></script>
<script src="static/bower_components/chart.js/dist/Chart.min.js"></script>
<script src="static/bower_components/select2/dist/js/select2.full.min.js"></script>
<script src="static/bower_components/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
<script src="static/bower_components/ckeditor/ckeditor.js"></script>
<script src="static/bower_components/bootstrap-validator/dist/validator.min.js"></script>
<script src="static/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="static/bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
<script src="static/bower_components/dropzone/dist/dropzone.js"></script>
<script src="static/bower_components/editable-table/mindmup-editabletable.js"></script>
<script src="static/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="static/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="static/bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
<script src="static/bower_components/tether/dist/js/tether.min.js"></script>
<script src="static/bower_components/slick-carousel/slick/slick.min.js"></script>
<script src="static/bower_components/bootstrap/js/dist/util.js"></script>
<script src="static/bower_components/bootstrap/js/dist/alert.js"></script>
<script src="static/bower_components/bootstrap/js/dist/button.js"></script>
<script src="static/bower_components/bootstrap/js/dist/carousel.js"></script>
<script src="static/bower_components/bootstrap/js/dist/collapse.js"></script>
<script src="static/bower_components/bootstrap/js/dist/dropdown.js"></script>
<script src="static/bower_components/bootstrap/js/dist/modal.js"></script>
<script src="static/bower_components/bootstrap/js/dist/tab.js"></script>
<script src="static/bower_components/bootstrap/js/dist/tooltip.js"></script>
<script src="static/bower_components/bootstrap/js/dist/popover.js"></script>
<script src="static/js/demo_customizer.js?version=4.4.0"></script>
<script src="static/js/main.js?version=4.4.0"></script>
<script src="static/bower_components/bootstrap/js/dist/popover.js"></script>
<script src="static/js/dataTables.bootstrap4.min.js"></script>

<script>
    var current_group_id = '';

    $(document).ready(function () {
        $('#groups').change(function () {
            current_group_id = $(this).val();
            $.ajax({
                url: "/api/get_items_table",
                data: JSON.stringify({
                    group_id: current_group_id
                }),
                contentType: 'application/json;charset=UTF-8',
                method: 'POST',
                success: function (response) {
                    $('#homebook_items').html(response);
                },
                error: function (error) {

                }
            });
        });

        $('#parent_create').click(function () {
            let parent_name = $('#parent_name').val();
            let parent_code = $('#parent_code').val();
            $.ajax({
                url: "/api/create_parent",
                data: JSON.stringify({
                    parent_name: parent_name,
                    parent_code: parent_code
                }),
                contentType: 'application/json;charset=UTF-8',
                method: 'POST',
                success: function (response) {
                    let msg = JSON.parse(JSON.stringify(response));
                    let answer_id = msg.msgid;
                    if (answer_id === '0') alert('Родитель успешно создан')
                    else alert('Родитель с таким кодом уже существует')
                    location.reload();
                },
                error: function (error) {
                }
            });
        });

        $('#item_create').click(function () {
            let item_name = $('#item_name').val();
            let item_code = $('#item_code').val();
            let parent_code = $('#item_parent').val();
            $.ajax({
                url: "/api/create_item",
                data: JSON.stringify({
                    item_name: item_name,
                    item_code: item_code,
                    parent_code: parent_code
                }),
                contentType: 'application/json;charset=UTF-8',
                method: 'POST',
                success: function (response) {
                    let msg = JSON.parse(JSON.stringify(response));
                    let answer_id = msg.msgid;
                    if (answer_id === '0') alert('Товар успешно создан')
                    else alert('Товар с таким кодом уже существует')
                    location.reload();
                },
                error: function (error) {
                }
            });
        });
    });
</script>
</body>
</html>
