<!DOCTYPE html>
<html>
<head>
    <title>ФудТорг</title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="template language" name="keywords">
    <meta content="Tamerlan Soziev" name="author">
    <meta content="Admin dashboard html template" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="favicon.png" rel="shortcut icon">
    <link href="apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet" type="text/css">
    <link href="static/bower_components/select2/dist/css/select2.min.css" rel="stylesheet">
    <link href="static/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="static/bower_components/dropzone/dist/dropzone.css" rel="stylesheet">
    <link href="static/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="static/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="static/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css" rel="stylesheet">
    <link href="static/bower_components/slick-carousel/slick/slick.css" rel="stylesheet">
    <link href="static/css/main.css?version=4.4.0" rel="stylesheet">
</head>
<script> var mapa = new Map()</script>
<body class="menu-position-side menu-side-left full-screen with-content-panel">
<div class="all-wrapper with-side-panel solid-bg-all">
    <div class="layout-w">
        <!--------------------
        START - Mobile Menu
        -------------------->
        <div class="menu-mobile menu-activated-on-click color-scheme-dark">
            <div class="mm-logo-buttons-w"><img src="" width="100" height="30" alt=""/>
                <div class="mm-buttons">
                    <div class="content-panel-open">
                        <div class="os-icon os-icon-grid-circles"></div>
                    </div>
                    <div class="mobile-menu-trigger">
                        <div class="os-icon os-icon-hamburger-menu-1"></div>
                    </div>
                </div>
            </div>
            <div class="menu-and-user">
                <div class="logged-user-w">
                    <div class="avatar-w">
                        <img alt="" src="static/img/avatar1.jpg">
                    </div>
                    <div class="logged-user-info-w">
                        <div class="logged-user-name">
                            ФудТорг
                        </div>
                        <div class="logged-user-role">
                            Администратор
                        </div>
                    </div>
                </div>
                <div class="mobile-menu-magic">
                    <h4>&nbsp;</h4>
                </div>
            </div>
        </div>
        {% include 'addtemp/side_menu.html' %}
        <div class="content-w">
            <div class="top-bar color-scheme-transparent"></div>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Главная</a>
                </li>
            </ul>
            <div class="content-panel-toggler">
                <i class="os-icon os-icon-grid-squares-22"></i><span>Sidebar</span>
            </div>
            <div class="content-i">
                <div class="content-box">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for=""> Выберите поставщика</label>
                                <select class="form-control select2" id="dialogs">
                                    <option value="" disabled selected>...</option>
                                    {% for dialog in dialogs_list %}
                                        <option value="{{ dialog.id }}">
                                            {{ dialog.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <label for="">Выберите сообщение</label>
                            <select class="form-control select2" id="messages"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <a id="show_excel_settings" class="btn btn-primary text-white">Настройки Excel</a>
                        </div>
                    </div>
                    <div class="row mt-3" id="excel-settings">
                        <div class="col-sm-3">
                            <label for=""> Номер первой строки</label>
                            <input id="start_row"
                                   class="form-control"
                                   required="required"
                                   type="text"
                                   value=""
                                   placeholder="Номер строки, в которой начинается прайс">
                        </div>
                        <div class="col-sm-3">
                            <label for=""> Номер последней строки</label>
                            <input id="end_row"
                                   class="form-control"
                                   required="required"
                                   type="text"
                                   value=""
                                   placeholder="Номер строки, на которой заканчивается прайс">
                        </div>
                        <div class="col-sm-3">
                            <label for=""> Наименование</label>
                            <input id="name_column"
                                   class="form-control"
                                   required="required"
                                   type="text"
                                   value=""
                                   placeholder="Номера столбцов через пробел">
                        </div>
                        <div class="col-sm-3">
                            <label for=""> Цена</label>
                            <input id="price_column"
                                   class="form-control"
                                   required="required"
                                   type="text"
                                   value=""
                                   placeholder="Номер столбца">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="form-group col-sm-12">
                            <label for="exampleFormControlTextarea1">Текст сообщения</label>
                            <textarea class="form-control full-msg" id="exampleFormControlTextarea1"
                                      rows="10"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <a class="btn btn-primary parse-btn text-white">Получить прайс</a>
                    </div>
                    <div class="row mt-5">
                        <div class="col-sm-12 parsed-price">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="display-type"></div>
</div>
<script src="static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="static/bower_components/popper.js/dist/umd/popper.min.js"></script>
<script src="static/bower_components/moment/moment.js"></script>
<script src="static/bower_components/chart.js/dist/Chart.min.js"></script>
<script src="static/bower_components/select2/dist/js/select2.full.min.js"></script>
<script src="static/bower_components/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
<script src="static/bower_components/ckeditor/ckeditor.js"></script>
<script src="static/bower_components/bootstrap-validator/dist/validator.min.js"></script>
<script src="static/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="static/bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
<script src="static/bower_components/dropzone/dist/dropzone.js"></script>
<script src="static/bower_components/editable-table/mindmup-editabletable.js"></script>
<script src="static/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="static/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="static/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="static/bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
<script src="static/bower_components/tether/dist/js/tether.min.js"></script>
<script src="static/bower_components/slick-carousel/slick/slick.min.js"></script>
<script src="static/bower_components/bootstrap/js/dist/util.js"></script>
<script src="static/bower_components/bootstrap/js/dist/alert.js"></script>
<script src="static/bower_components/bootstrap/js/dist/button.js"></script>
<script src="static/bower_components/bootstrap/js/dist/carousel.js"></script>
<script src="static/bower_components/bootstrap/js/dist/collapse.js"></script>
<script src="static/bower_components/bootstrap/js/dist/dropdown.js"></script>
<script src="static/bower_components/bootstrap/js/dist/modal.js"></script>
<script src="static/bower_components/bootstrap/js/dist/tab.js"></script>
<script src="static/bower_components/bootstrap/js/dist/tooltip.js"></script>
<script src="static/bower_components/bootstrap/js/dist/popover.js"></script>
<script src="static/js/demo_customizer.js?version=4.4.0"></script>
<script src="static/js/main.js?version=4.4.0"></script>

<script>
    var xls_settings_state = false;
    var current_dialog_id = '';
    var current_message_id = '';
    var last_body = '';
    var start_row = '-1';
    var end_row = '-1';
    var name_column = '-1';
    var price_column = '-1';

    function getFullMsg(msg_id) {
        current_message_id = msg_id;
        $.ajax({
            url: "/api/get_full_msg",
            data: JSON.stringify({
                dialogID: current_dialog_id,
                messageID: current_message_id
            }),
            contentType: 'application/json;charset=UTF-8',
            method: 'POST',
            success: function (response) {
                let msg = JSON.parse(JSON.stringify(response));
                current_message_id = msg.id;
                last_body = msg.body;
                $('.full-msg').html(last_body);
            },
            error: function (error) {

            }
        });
    };

    $(document).ready(function () {
        $('#excel-settings').hide();

        $('#show_excel_settings').click(function () {
            xls_settings_state = !xls_settings_state;
            if (xls_settings_state) {
                $('#excel-settings').show();
            } else {
                $('#excel-settings').hide();
            }
        })

        $('#dialogs').change(function () {
            current_dialog_id = $(this).val();
            $.ajax({
                url: "/api/get_msgs_table",
                data: JSON.stringify({
                    dialogID: current_dialog_id
                }),
                contentType: 'application/json;charset=UTF-8',
                method: 'POST',
                success: function (response) {
                    $('#messages').html(response);
                },
                error: function (error) {

                }
            });
        });


        $('#messages').change(function () {
            current_message_id = $(this).val();
            if (xls_settings_state) {
                start_row = $('#start_row').val();
                end_row = $('#end_row').val();
                name_column = $('#name_column').val();
                price_column = $('#price_column').val();
            }
            if (start_row.replace(' ', '') === ''
                || end_row.replace(' ', '') === ''
                || name_column.replace(' ', '') === ''
                || price_column.replace(' ', '') === '') {
                alert('Нужно указать настройки для Excel');
            } else {
                $.ajax({
                    url: "/api/get_full_msg",
                    data: JSON.stringify({
                        dialogID: current_dialog_id,
                        messageID: current_message_id,
                        startRow: start_row,
                        endRow: end_row,
                        nameColumn: name_column,
                        priceColumn: price_column
                    }),
                    contentType: 'application/json;charset=UTF-8',
                    method: 'POST',
                    success: function (response) {
                        let msg = JSON.parse(JSON.stringify(response));
                        current_message_id = msg.id;
                        last_body = msg.body;
                        $('.full-msg').html(last_body);
                    },
                    error: function (error) {

                    }
                });
            }
        })

        $('.parse-btn').click(function () {
            let body = $('.full-msg').val();
            $.ajax({
                url: "/api/parse_msg",
                data: JSON.stringify({
                    body: body,
                    sellerbook: current_dialog_id
                }),
                contentType: 'application/json;charset=UTF-8',
                method: 'POST',
                success: function (response) {
                    $('.parsed-price').html(response);
                },
                error: function (error) {

                }
            });
        });
    });


</script>

</body>
</html>
