<div class="menu-w color-scheme-light color-style-transparent menu-position-side menu-side-left menu-layout-compact sub-menu-style-over sub-menu-color-bright selected-menu-color-light menu-activated-on-hover menu-has-selected-link">
            <div class="logo-w">
                <a class="logo" href="">
                    <div class="logo-element"></div>
                    <div class="logo-label">
                        ФудТорг
                    </div>
                </a>
            </div>
            <div class="logged-user-w avatar-inline">
                <div class="logged-user-i">
                    <div class="avatar-w">
                        <img alt="" src="static/img/avatar1.jpg">
                    </div>
                    <div class="logged-user-info-w">
                        <div class="logged-user-name">
                            ФудТорг
                        </div>
                        <div class="logged-user-role">
                            Администратор
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="menu-page-header">
                Page Header
            </h1>
            <ul class="main-menu">
                <li class="sub-header">
                    <span>Управление</span>
                </li>
                <li class="selected has-sub-menu">
                    <a href="">
                        <div class="icon-w">
                            <div class="os-icon os-icon-layout"></div>
                        </div>
                        <span>Прайсы (Фрукты)</span></a>
                    <div class="sub-menu-w">
                        <div class="sub-menu-header">
                            Прайсы
                        </div>
                        <div class="sub-menu-icon">
                            <i class="os-icon os-icon-layout"></i>
                        </div>
                        <div class="sub-menu-i">
                            <ul class="sub-menu">
                                <li>
                                    <a href="/create_price">Создать прайс</a>
                                </li>
                                <li>
                                    <a href="/all_prices">Все прайсы</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="selected has-sub-menu">
                    <a href="">
                        <div class="icon-w">
                            <div class="os-icon os-icon-layout"></div>
                        </div>
                        <span>Прайсы (Бакалея)</span></a>
                    <div class="sub-menu-w">
                        <div class="sub-menu-header">
                            Прайсы
                        </div>
                        <div class="sub-menu-icon">
                            <i class="os-icon os-icon-layout"></i>
                        </div>
                        <div class="sub-menu-i">
                            <ul class="sub-menu">
                                <li>
                                    <a href="/create_grocery_order">Создать заявку</a>
                                </li>
                                <li>
                                    <a href="/all_grocery_orders">Все заявки</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="selected has-sub-menu">
                    <a href="">
                        <div class="icon-w">
                            <div class="os-icon os-icon-layout"></div>
                        </div>
                        <span>Заявки</span></a>
                    <div class="sub-menu-w">
                        <div class="sub-menu-header">
                            Заявки
                        </div>
                        <div class="sub-menu-icon">
                            <i class="os-icon os-icon-layout"></i>
                        </div>
                        <div class="sub-menu-i">
                            <ul class="sub-menu">
                                <li>
                                    <a href="/create_order">Создать заявку</a>
                                </li>
                                <li>
                                    <a href="/all_orders">Все заявки</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="selected has-sub-menu">
                    <a>
                        <div class="icon-w">
                            <div class="os-icon os-icon-layout"></div>
                        </div>
                        <span>Номенклатура</span></a>
                    <div class="sub-menu-w">
                        <div class="sub-menu-header">
                            Справочники номенклатуры
                        </div>
                        <div class="sub-menu-icon">
                            <i class="os-icon os-icon-layout"></i>
                        </div>
                        <div class="sub-menu-i">
                            <ul class="sub-menu">
                                <li>
                                    <a href="/homebook">ФудТорг</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="selected has-sub-menu">
                    <a>
                        <div class="icon-w">
                            <div class="os-icon os-icon-layout"></div>
                        </div>
                        <span>Поставщики</span></a>
                    <div class="sub-menu-w">
                        <div class="sub-menu-header">
                            Поставщики
                        </div>
                        <div class="sub-menu-icon">
                            <i class="os-icon os-icon-layout"></i>
                        </div>
                        <div class="sub-menu-i">
                            <ul class="sub-menu">
                                <li>
                                    <a href="/all_sellers">Все поставщики</a>
                                </li>
                                <li>
                                    <a href="/create_seller">Добавить поставщика</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>