<div class="col-md-4 mb-30">
    <div class="card-box pricing-card-style2">
        <div class="pricing-card-header">
            <div class="center">
                <h5>Название торгов</h5>
                <small>
                    <p>До начала 8 дней 14:56</p>
                    <p class="text-muted">
                        <b>Основной этап:</b><br>
                        Начало: 12.02.2022 12:00<br>
                        Окончание: 14.02.2022 12:00
                    </p>
                    <p class="text-muted">
                        <b>Дополнительный этап:</b><br>
                        Начало: 12.02.2022 12:00<br>
                        Окончание: 14.02.2022 12:00
                    </p>
                </small>
            </div>
        </div>
        <div class="pricing-card-body">
            <div class="pricing-points">
                <p>Описание торгов</p>
            </div>
        </div>
        <div class="cta left">
            <small class="left">
                <p>Доступно 158 позиций</p>
            </small>
        </div>
    </div>
</div>