<div class="col-md-4 mb-30">
    <div class="card-box pricing-card-style2">
        <div class="pricing-card-header">
            <div class="center">
                <h5>{{ order.title }}</h5>
                <small>
                    <p class="text-success">
                        <b>Основной этап:</b><br>
                        Начало: {{ order.main_date_start }} {{ order.main_time_start }}<br>
                        Окончание: {{ order.main_date_finish }} {{ order.main_time_finish }}
                    </p>
                    <p class="text-muted">
                        <b>Дополнительный этап:</b><br>
                        Начало: {{ order.add_date_start }} {{ order.add_time_start }}<br>
                        Окончание: {{ order.add_date_finish }} {{ order.add_time_finish }}
                    </p>
                </small>
            </div>
        </div>
        <div class="pricing-card-body">
            <div class="pricing-points">
                <p>{{ order.desc }}</p>
            </div>
        </div>
        <div class="cta left">
            <small class="left">
                <p>Доступно позиций: {{ order.items_count | length }}</p>
            </small>
            <a class="btn text-white btn-primary btn-rounded enter-btn" id="{{ order.id_1c }}">Войти</a>
        </div>
    </div>
</div>