<div class="table-responsive">
    <h4 id="dialog_id">{{ dialog_id }}</h4>
    <table id="dataTable1" width="100%"
           class="table table-striped table-lightfont">
        <thead>
        <tr>
            <th class="text-left" style="width: 15% !important;">Поставщик</th>
            <th class="text-left" style="width: 27% !important;">Наименование (П)</th>
            <th class="text-left" style="width: 5% !important;">Код (ФТ)</th>
            <th class="text-left" style="width: 28% !important;">Наименование (ФТ)</th>
            <th class="text-left" style="width: 10% !important;">Цена за ед.</th>
            <th class="text-left" style="width: 5% !important;">Кол-во</th>
            <th class="text-left" style="width: 10% !important;">Стоимость</th>
        </tr>
        </thead>
        <tbody class="msg-table">
        {% for i in range(0, prices_for_compare|length) %}
            <tr>
                <td class="text-left">
                    <select class="form-control select2 seller_selector" id="{{ i }}">
                        <option value="0" selected>{{ prices_for_compare[i]['prices'][0]['price_name'] }}</option>
                        {% for price in range(1, prices_for_compare[i]['prices']|length) %}
                            <option value="{{ price }}">{{ prices_for_compare[i]['prices'][price]['price_name'] }}</option>
                        {% endfor %}
                    </select>
                </td>

                <td class="text-left">
                    <input id="seller_item_name_{{ i }}"
                           class="form-control"
                           required="required"
                           type="text"
                           value="{{ prices_for_compare[i]['prices'][0]['seller_item_name'] }}"
                           readonly>
                </td>

                <td class="text-left">
                    <input id="ft_item_code_{{ i }}"
                           class="form-control"
                           required="required"
                           type="text"
                           value="{{ prices_for_compare[i]['item_code'] }}"
                           readonly>
                </td>

                <td class="text-left">
                    <input id="ft_item_name_{{ i }}"
                           class="form-control"
                           required="required"
                           type="text"
                           value="{{ prices_for_compare[i]['item_name'] }}"
                           readonly>
                </td>

                <td class="text-left">
                    <input id="seller_price_{{ i }}"
                           class="form-control"
                           required="required"
                           type="text"
                           value="{{ prices_for_compare[i]['prices'][0]['price'] }}"
                           readonly>
                </td>

                <td class="text-left">
                    <input id="item_qty_{{ i }}"
                           class="form-control"
                           required="required"
                           type="text"
                           value="{{ prices_for_compare[i]['item_qty'] }}"
                           readonly>
                </td>

                <td class="text-left">
                    <input id="final_price_{{ i }}"
                           class="form-control"
                           required="required"
                           type="text"
                           value="{{ (prices_for_compare[i]['item_qty']|float * prices_for_compare[i]['prices'][0]['price']|float)|round(2) }}"
                           readonly>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="form-group col-4">
    <label for="order_name">Название заявки</label>
    <input type="text" class="form-control" id="order_name">
</div>
<div class="form-group col-4">
    <label for="email">Email для получения заявок</label>
    <input type="text" class="form-control" id="email_for_save">
</div>
<div class="row mt-5 mb-5">
    <a class="btn btn-primary text-white mr-5" id="save-order-btn ">Сохранить заявку</a>
    <a class="btn btn-primary text-white ml-5" id="download-and-save-order-btn">Скачать и сохранить заявку</a>
</div>
{#<script src="static/bower_components/jquery/dist/jquery.min.js"></script>#}
<script src="static/bower_components/popper.js/dist/umd/popper.min.js"></script>
<script src="static/bower_components/moment/moment.js"></script>
<script src="static/bower_components/chart.js/dist/Chart.min.js"></script>
{#<script src="static/bower_components/select2/dist/js/select2.full.min.js"></script>#}
<script src="static/bower_components/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
<script src="static/bower_components/ckeditor/ckeditor.js"></script>
<script src="static/bower_components/bootstrap-validator/dist/validator.min.js"></script>
<script src="static/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="static/bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
<script src="static/bower_components/dropzone/dist/dropzone.js"></script>
<script src="static/bower_components/editable-table/mindmup-editabletable.js"></script>
<script src="static/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="static/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="static/bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
<script src="static/bower_components/tether/dist/js/tether.min.js"></script>
<script src="static/bower_components/slick-carousel/slick/slick.min.js"></script>
<script src="static/bower_components/bootstrap/js/dist/util.js"></script>
<script src="static/bower_components/bootstrap/js/dist/alert.js"></script>
<script src="static/bower_components/bootstrap/js/dist/button.js"></script>
<script src="static/bower_components/bootstrap/js/dist/carousel.js"></script>
<script src="static/bower_components/bootstrap/js/dist/collapse.js"></script>
<script src="static/bower_components/bootstrap/js/dist/dropdown.js"></script>
<script src="static/bower_components/bootstrap/js/dist/modal.js"></script>
<script src="static/bower_components/bootstrap/js/dist/tab.js"></script>
<script src="static/bower_components/bootstrap/js/dist/tooltip.js"></script>
<script src="static/bower_components/bootstrap/js/dist/popover.js"></script>
<script src="static/js/demo_customizer.js?version=4.4.0"></script>
<script src="static/js/main.js?version=4.4.0"></script>
<script src="static/bower_components/bootstrap/js/dist/popover.js"></script>
<script src="static/js/dataTables.bootstrap4.min.js"></script>

<script>

    var array_order = [];
    var mapa_order = {};

    $(document).ready(function () {
        let prices_for_compare = {{ prices_for_compare|tojson }};
        $('.seller_selector').change(function () {
            let row_id = $(this).attr('id');
            let seller_item_name = '#seller_item_name_' + row_id;
            let number = parseInt($(this).val());
            alert(number);
            $(seller_item_name)
                .val(prices_for_compare[parseInt(row_id)]['prices'][number]['seller_item_name']);

            let seller_price = '#seller_price_' + row_id;
            $(seller_price)
                .val(prices_for_compare[parseInt(row_id)]['prices'][number]['price'])

            let qty = parseFloat(prices_for_compare[parseInt(row_id)]['item_qty'])
            let final_price = '#final_price_' + row_id;
            $(final_price)
                .val(parseFloat($(seller_price).val()) * qty)
        });


        $('#save-order-btn').click(function () {

            for (let index = 0; index < prices_for_compare.length; index++) {
                mapa_order = {};
                let price_name_id = '#' + index;
                let seller_item_name_id = '#seller_item_name_' + index;
                let ft_item_name_id = '#ft_item_name_' + index;
                let ft_item_code_id = '#ft_item_code_' + index;
                let seller_price_id = '#seller_price_' + index;
                let item_qty_id = '#item_qty_' + index;
                let final_price_id = '#final_price_' + index;

                mapa_order['price_name'] = prices_for_compare[index]['prices'][$(price_name_id).val()]['price_name']
                mapa_order['seller_item_name'] = $(seller_item_name_id).val();
                mapa_order['ft_item_name'] = $(ft_item_name_id).val();
                mapa_order['ft_item_code'] = $(ft_item_code_id).val();
                mapa_order['seller_price'] = $(seller_price_id).val();
                mapa_order['item_qty'] = $(item_qty_id).val();
                mapa_order['final_price'] = $(final_price_id).val();

                array_order.push(mapa_order);
            }

            let order_name = $('#order_name').val();
            if (order_name == '')
                order_name = Math.random();

            $.ajax({
                url: "/api/save_order",
                data: JSON.stringify({
                    order: array_order,
                    order_name: order_name,
                    is_download: false,
                    email: "NONE"
                }),
                contentType: 'application/json;charset=UTF-8',
                method: 'POST',
                success: function () {
                    alert('Заявка успешно сохранена!')
                },
                error: function (error) {

                }
            });
        });

        $('#download-and-save-order-btn').click(function () {

            for (let index = 0; index < prices_for_compare.length; index++) {
                mapa_order = {};
                let price_name_id = '#' + index;
                let seller_item_name_id = '#seller_item_name_' + index;
                let ft_item_name_id = '#ft_item_name_' + index;
                let ft_item_code_id = '#ft_item_code_' + index;
                let seller_price_id = '#seller_price_' + index;
                let item_qty_id = '#item_qty_' + index;
                let final_price_id = '#final_price_' + index;

                mapa_order['price_name'] = prices_for_compare[index]['prices'][$(price_name_id).val()]['price_name']
                mapa_order['seller_item_name'] = $(seller_item_name_id).val();
                mapa_order['ft_item_name'] = $(ft_item_name_id).val();
                mapa_order['ft_item_code'] = $(ft_item_code_id).val();
                mapa_order['seller_price'] = $(seller_price_id).val();
                mapa_order['item_qty'] = $(item_qty_id).val();
                mapa_order['final_price'] = $(final_price_id).val();

                array_order.push(mapa_order);
            }

            let order_name = $('#order_name').val();
            if (order_name == '')
                order_name = Math.random();
            let email = $('#email_for_save').val();
            if (email == '')
                email = 'NONE';
            $.ajax({
                url: "/api/save_order",
                data: JSON.stringify({
                    order: array_order,
                    order_name: order_name,
                    is_download: true,
                    email: email
                }),
                contentType: 'application/json;charset=UTF-8',
                method: 'POST',
                success: function () {
                    alert('Заявка успешно сохранена, письмо отправлено на ' + email)
                },
                error: function (error) {

                }
            });
        });
    })
</script>


