<div class="header">
    <div class="header-left">
        <div class="menu-icon dw dw-menu"></div>
    </div>
</div>


<div class="left-side-bar">
    <div class="brand-logo">
        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordion-menu">
                <li class="dropdown">
                    <a href="/logout" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-exit"></span><span class="mtext">Выйти из профиля</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>