<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>Global Group Trade</title>

    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/vendors/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/vendors/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/vendors/images/favicon-16x16.png">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../static/vendors/styles/core.css">
    <link rel="stylesheet" type="text/css" href="../static/vendors/styles/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="../static/vendors/styles/style.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
<div class="pre-loader">
    <div class="pre-loader-box">
        <div class="loader-logo"><img src="../static/loader_logo.svg" alt=""></div>
        <div class='loader-progress' id="progress_div">
            <div class='bar' style="background: #6B9543 !important;" id='bar1'></div>
        </div>
        <div class='percent' id='percent1'>0%</div>
        <div class="loading-text">
            Загрузка
        </div>
    </div>
</div>

<div class="header">
    <div class="header-left">
        <div class="menu-icon dw dw-menu"></div>
    </div>
</div>

<div class="right-sidebar">
    <div class="sidebar-title">
        <h3 class="weight-600 font-16 text-blue">
            Layout Settings
            <span class="btn-block font-weight-400 font-12">User Interface Settings</span>
        </h3>
        <div class="close-sidebar" data-toggle="right-sidebar-close">
            <i class="icon-copy ion-close-round"></i>
        </div>
    </div>
    <div class="right-sidebar-body customscroll">
        <div class="right-sidebar-body-content">
            <h4 class="weight-600 font-18 pb-10">Header Background</h4>
            <div class="sidebar-btn-group pb-30 mb-10">
                <a href="javascript:void(0);" class="btn btn-outline-primary header-white active">White</a>
                <a href="javascript:void(0);" class="btn btn-outline-primary header-dark">Dark</a>
            </div>

            <h4 class="weight-600 font-18 pb-10">Sidebar Background</h4>
            <div class="sidebar-btn-group pb-30 mb-10">
                <a href="javascript:void(0);" class="btn btn-outline-primary sidebar-light ">White</a>
                <a href="javascript:void(0);" class="btn btn-outline-primary sidebar-dark active">Dark</a>
            </div>

            <h4 class="weight-600 font-18 pb-10">Menu Dropdown Icon</h4>
            <div class="sidebar-radio-group pb-10 mb-10">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="sidebaricon-1" name="menu-dropdown-icon" class="custom-control-input"
                           value="icon-style-1" checked="">
                    <label class="custom-control-label" for="sidebaricon-1"><i class="fa fa-angle-down"></i></label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="sidebaricon-2" name="menu-dropdown-icon" class="custom-control-input"
                           value="icon-style-2">
                    <label class="custom-control-label" for="sidebaricon-2"><i class="ion-plus-round"></i></label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="sidebaricon-3" name="menu-dropdown-icon" class="custom-control-input"
                           value="icon-style-3">
                    <label class="custom-control-label" for="sidebaricon-3"><i
                            class="fa fa-angle-double-right"></i></label>
                </div>
            </div>

            <h4 class="weight-600 font-18 pb-10">Menu List Icon</h4>
            <div class="sidebar-radio-group pb-30 mb-10">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="sidebariconlist-1" name="menu-list-icon" class="custom-control-input"
                           value="icon-list-style-1" checked="">
                    <label class="custom-control-label" for="sidebariconlist-1"><i class="ion-minus-round"></i></label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="sidebariconlist-2" name="menu-list-icon" class="custom-control-input"
                           value="icon-list-style-2">
                    <label class="custom-control-label" for="sidebariconlist-2"><i class="fa fa-circle-o"
                                                                                   aria-hidden="true"></i></label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="sidebariconlist-3" name="menu-list-icon" class="custom-control-input"
                           value="icon-list-style-3">
                    <label class="custom-control-label" for="sidebariconlist-3"><i class="dw dw-check"></i></label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="sidebariconlist-4" name="menu-list-icon" class="custom-control-input"
                           value="icon-list-style-4" checked="">
                    <label class="custom-control-label" for="sidebariconlist-4"><i
                            class="icon-copy dw dw-next-2"></i></label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="sidebariconlist-5" name="menu-list-icon" class="custom-control-input"
                           value="icon-list-style-5">
                    <label class="custom-control-label" for="sidebariconlist-5"><i
                            class="dw dw-fast-forward-1"></i></label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="sidebariconlist-6" name="menu-list-icon" class="custom-control-input"
                           value="icon-list-style-6">
                    <label class="custom-control-label" for="sidebariconlist-6"><i class="dw dw-next"></i></label>
                </div>
            </div>

            <div class="reset-options pt-30 text-center">
                <button class="btn btn-danger" id="reset-settings">Reset Settings</button>
            </div>
        </div>
    </div>
</div>

{% include 'nav_menu.html' %}
<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">

            <!-- Default Basic Forms Start -->
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <div class="pull-left">
                        <h4 class="text-blue h4" id="cur_time"></h4>
                        <h4 class="text-blue h4"></h4>
                    </div>
                </div>
                <form autocomplete="off">
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Название компании</label>
                        <div class="col-sm-12 col-md-10">
                            <input class="form-control offer-value" type="text" id="name_value" autocomplete="off"
                                   disabled>
                            <small class="form-text btn btn-outline-primary btn-sm" id="edit_name">Редактировать</small>
                            <small class="form-text btn btn-outline-success btn-sm" id="save_name">Применить</small>
                            <small class="form-text btn btn-outline-danger btn-sm" id="discard_name">Отменить</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">ИНН</label>
                        <div class="col-sm-12 col-md-10">
                            <input class="form-control offer-value" type="number" id="inn_value" autocomplete="off"
                                   disabled>
                            <small class="form-text btn btn-outline-primary btn-sm" id="edit_inn">Редактировать</small>
                            <small class="form-text btn btn-outline-success btn-sm" id="save_inn">Применить</small>
                            <small class="form-text btn btn-outline-danger btn-sm" id="discard_inn">Отменить</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Email для получения уведомлений</label>
                        <div class="col-sm-12 col-md-10">
                            <input class="form-control offer-value" type="text" id="contact_email_value"
                                   autocomplete="off" disabled>
                            <small class="form-text btn btn-outline-primary btn-sm" id="edit_contact_email">Редактировать</small>
                            <small class="form-text btn btn-outline-success btn-sm"
                                   id="save_contact_email">Применить</small>
                            <small class="form-text btn btn-outline-danger btn-sm"
                                   id="discard_contact_email">Отменить</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Логин для входа</label>
                        <div class="col-sm-12 col-md-10">
                            <input class="form-control offer-value" type="text" id="login_value" autocomplete="off"
                                   disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Пароль</label>
                        <div class="col-sm-12 col-md-10">
                            <input class="form-control offer-value" type="password" id="password_value"
                                   autocomplete="off"
                                   disabled>
                            <small class="form-text btn btn-outline-primary btn-sm"
                                   id="edit_password">Редактировать</small>
                            <small class="form-text btn btn-outline-success btn-sm" id="save_password">Применить</small>
                            <small class="form-text btn btn-outline-danger btn-sm"
                                   id="discard_password">Отменить</small>
                        </div>
                    </div>
                    <div class="btn-list">
                        <a class="btn btn-success btn-sm text-white" id="save_changes">Сохранить изменения</a>
                        <a class="btn btn-danger btn-sm text-white" id="discard_changes">Отменить изменения</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

<!-- js -->
<script src="../static/vendors/scripts/core.js"></script>
<script src="../static/vendors/scripts/script.min.js"></script>
<script src="../static/vendors/scripts/process.js"></script>
<script src="../static/vendors/scripts/layout-settings.js"></script>
<script>

    $(document).ready(function () {
        $('#save_name').hide();
        $('#discard_name').hide();

        $('#edit_name').click(function () {
            $(this).hide();
            $('#save_name').show();
            $('#discard_name').show();
            $('#name_value').prop('disabled', false).focus();
        });



        $('body').on('input', '.offer-value', function () {
            this.value = this.value.replace(/[^0-9\.\,]/g, '');
        });


        $('#no_position_check_{{ i }}').click(function () {
            if ($(this).is(':checked')) {
                $('#bid_id').val('0');
                $('#bid_id').prop('disabled', true);
            } else {
                $('#bid_id').val('');
                $('#bid_id').prop('disabled', false);
            }
        });


        $('#prepare_offer').click(function () {

        });

        $('#send_offer').click(function () {
            $.ajax({
                url: "/api/orders/make_add_bid",
                data: JSON.stringify({
                    positions: offers,
                    seller_id: '',
                    order_id: ''
                }),
                contentType: 'application/json;charset=UTF-8',
                method: 'POST',
                success: function (response) {
                    alert(response);
                    location.reload()
                },
                error: function (error) {
                    alert(error);
                }
            });
        });
    });
</script>
</html>