<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>Global Group Trade</title>

    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/vendors/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/vendors/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/vendors/images/favicon-16x16.png">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../static/vendors/styles/core.css">
    <link rel="stylesheet" type="text/css" href="../static/vendors/styles/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="../static/vendors/styles/style.css">

</head>
<body>
<div class="pre-loader">
    <div class="pre-loader-box">
        <div class="loader-logo"><img src="../static/loader_logo.svg" alt=""></div>
        <div class='loader-progress' id="progress_div">
            <div class='bar' style="background: #6B9543 !important;" id='bar1'></div>
        </div>
        <div class='percent' id='percent1'>0%</div>
        <div class="loading-text">
            Загрузка
        </div>
    </div>
</div>


{% include 'nav_menu.html' %}
<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">

            <!-- Default Basic Forms Start -->
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <div class="pull-left">
                        <h4 class="text-blue h4" id="cur_time"></h4>
                        <h4 class="text-blue h4">{{ step }}</h4>
                    </div>
                </div>
                {% if is_trade_available %}
                    <form class="d-block d-sm-block d-md-block d-lg-none d-xl-none">
                        {% for i in range(order | length) %}
                            <div class="form-group row">
                                <label class="col-sm-12 col-md-2 col-form-label">{{ order[i].ITEM_NAME }}<br>{{ order[i].QTY | string + ' ' + order[i].UNIT }}
                                </label>
                                <div class="col-sm-12 col-md-10">
                                    <small>Ваша цена за {{ order[i].QTY | string + ' ' + order[i].UNIT }}</small>
                                    <input class="form-control offer-value" type="number"
                                           id="bid_id_{{ i }}">
                                    {% if current_step == 2 %}
                                        <small class="form-text text-muted">
                                            {{ 'Лучшее предложение: ' + best_add_offers[order[i].ITEM_1C_ID].MAIN_BID | string }}
                                        </small>
                                    {% endif %}
                                    <div class="custom-control custom-checkbox mt-3">
                                        <input type="checkbox" class="custom-control-input"
                                               id="no_position_check_{{ i }}">
                                        <label class="custom-control-label" for="no_position_check_{{ i }}">Нет
                                            позиции</label>
                                    </div>
                                    <small>Ваш комментарий к позиции (необязательно)</small>
                                    <input class="form-control comment-value" type="text"
                                           id="comment_id_{{ i }}">
                                </div>
                            </div>
                            <hr/>
                        {% endfor %}
                        <div class="form-group row">
                            <div class="col-sm-12 text-right">
                                <a data-toggle="modal" data-target="#confirmation-modal"
                                   class="btn btn-primary text-white"
                                   id="prepare_offer">Отправить заявку</a>
                            </div>
                            <div class="col-md-4 col-sm-12 mb-30">
                                <div class="modal fade" id="confirmation-modal" tabindex="-1" role="dialog"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body text-center font-18">
                                                <h4 class="text-left padding-top-30 mb-5 weight-500">Ваша заявка</h4>
                                                <p class="text-left padding-top-5 mb-30 weight-300" id="conf_offer"></p>
                                                <div class="padding-bottom-30 row"
                                                     style="max-width: 170px; margin: 0 auto;">
                                                    <div class="col-6">
                                                        <button type="button"
                                                                class="btn btn-secondary border-radius-100 btn-block confirmation-btn"
                                                                data-dismiss="modal"><i class="fa fa-times"></i>
                                                        </button>
                                                        Нет
                                                    </div>
                                                    <div class="col-6">
                                                        <button type="button" id="send_offer"
                                                                class="btn btn-primary border-radius-100 btn-block confirmation-btn"
                                                                data-dismiss="modal"><i class="fa fa-check"></i>
                                                        </button>
                                                        Да
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 mb-30">

                                <div class="modal fade" id="success-modal" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body text-center font-18">
                                                <h3 class="mb-20">Заявка отправлена!</h3>
                                                <div class="mb-30 text-center">
                                                    <img src="../static/vendors/images/success.png"></div>
                                                Ваша заявка на {{ step }} принята.<br>
                                                Вы можете изменить Вашу заявку до окончания текущего этапа торгов.
                                            </div>
                                            <div class="modal-footer justify-content-center">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">
                                                    Закрыть
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4 col-sm-12 mb-30">

                                <div class="modal fade" id="warning-modal" tabindex="-1" role="dialog"
                                     aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-sm modal-dialog-centered">
                                        <div class="modal-content bg-warning">
                                            <div class="modal-body text-center">
                                                <h3 class="mb-15"><i class="fa fa-exclamation-triangle"></i> Что-то
                                                    пошло не так :(
                                                </h3>
                                                <p>Ваша заявка не была принята. Попробуй еще раз.<br>
                                                    В случае повторного возникновения ошибки обратитесь к организатору
                                                    торгов.</p>
                                                <button type="button" class="btn btn-dark" data-dismiss="modal">Ok
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </form>
                    <div class="d-none d-sm-none d-md-none d-lg-block d-xl-block">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">Наименование</th>
                                <th scope="col">Количество</th>
                                <th scope="col">Ед. изм.</th>
                                <th scope="col">Лучшая ставка</th>
                                <th scope="col">Моя ставка</th>
                                <th scope="col">Сделать ставку</th>
                                <th scope="col">Мой комментарий</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in range(order | length) %}
                            <tr>
                                <th scope="row">{{ order[i].ITEM_NAME }}</th>
                                <td>{{ order[i].QTY}}</td>
                                <td>{{ order[i].UNIT}}</td>
                                <td>Лучшая ставка</td>
                                <td>Моя ставка</td>
                                <td><input class="form-control comment-value" type="text"></td>
                                <td><input class="form-control comment-value" type="text"></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</body>

<!-- js -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../static/vendors/scripts/core.js"></script>
<script src="../static/vendors/scripts/script.min.js"></script>
<script src="../static/vendors/scripts/process.js"></script>
<script src="../static/vendors/scripts/layout-settings.js"></script>
<script>

    $(document).ready(function () {
        {% if is_trade_available %}
            var offers = {};

            $('body').on('input', '.offer-value', function () {
                this.value = this.value.replace(/[^0-9\.\,]/g, '');
            });

            {% for i in range(order | length) %}
                $('#no_position_check_{{ i }}').click(function () {
                    if ($(this).is(':checked')) {
                        $('#bid_id_{{ i }}').val('0');
                        $('#bid_id_{{ i }}').prop('disabled', true);
                    } else {
                        $('#bid_id_{{ i }}').val('');
                        $('#bid_id_{{ i }}').prop('disabled', false);
                    }
                });
            {% endfor %}

            $('#prepare_offer').click(function () {
                var res = '<br><small>';
                var bid = '';
                var comment = '';
                {% for i in range(order | length) %}
                    bid = $('#bid_id_{{ i }}').val();
                    comment = $('#comment_id_{{ i }}').val();
                    res = res + ' ' + "<b>{{ order[i].ITEM_NAME }}:</b><br>Цена за {{ order[i].QTY | string + ' ' + order[i].UNIT}}"
                    if (bid === '0' || bid === '') {
                        res = res + ' ' + "- нет предложения<br>"
                    } else {
                        res = res + " - " + $('#bid_id_{{ i }}').val() + " ₽<br>"
                    }
                    if (comment !== '') {
                        res = res + '<b>Комментарий:</b><br>'
                        res = res + comment + '<br>'
                    }
                    res = res + '<hr/>'
                {% endfor %}
                res = res + '</small>'
                $('#conf_offer').html(res)
            });

            $('#send_offer').click(function () {
                {% for i in range(order | length) %}
                    offers['{{ order[i].ITEM_1C_ID}}'] = {
                        'BID': $('#bid_id_{{ i }}').val(),
                        'SELLER_COMMENT': $('#comment_id_{{ i }}').val()
                    };
                {% endfor %}
                $.ajax({
                    {% if current_step == 1 %}
                        url: "/api/orders/make_main_bid",
                    {% endif %}
                    {% if current_step == 2 %}
                        url: "/api/orders/make_add_bid",
                    {% endif %}
                    data: JSON.stringify({
                        positions: offers,
                        seller_id: '{{ seller_id}}',
                        order_id: '{{ order_id }}'
                    }),
                    contentType: 'application/json;charset=UTF-8',
                    method: 'POST',
                    success: function (response) {
                        let json = JSON.parse(JSON.stringify(response));
                        if (json.msgid == 0) {
                            $('#success-modal').modal('show')
                        }
                        if (json.msgid == 1) {
                            $('#warning-modal').modal('show')
                        }
                    },
                    error: function (error) {
                        $('#warning-modal').modal('show');
                    }
                });
            });
            });
        {% endif %}

    function clock() {
        var d = new Date();
        var hrs = d.getHours();
        var min = d.getMinutes();
        var sec = d.getSeconds();

        if (hrs <= 9) hrs = "0" + hrs;
        if (min <= 9) min = "0" + min;
        if (sec <= 9) sec = "0" + sec;

        $("#cur_time").html("{{ date }} " + hrs + ":" + min + ":" + sec);
    }

    setInterval("clock()", 1000);
</script>
</html>