<!DOCTYPE html>
<html>
<head>
    <title>Мобиком - Создание пользователя</title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="favicon.png" rel="shortcut icon">
    <link href="apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet" type="text/css">
    <link href="static/bower_components/select2/dist/css/select2.min.css" rel="stylesheet">
    <link href="static/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="static/bower_components/dropzone/dist/dropzone.css" rel="stylesheet">
    <link href="static/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="static/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="static/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css" rel="stylesheet">
    <link href="static/bower_components/slick-carousel/slick/slick.css" rel="stylesheet">
    <link href="static/css/main.css?version=4.4.0" rel="stylesheet">
</head>
<body class="menu-position-side menu-side-left full-screen with-content-panel">
<div class="all-wrapper with-side-panel solid-bg-all">
    <div class="layout-w">
        <div class="menu-mobile menu-activated-on-click color-scheme-dark">
            <div class="mm-logo-buttons-w"><img src="" width="100" height="30" alt=""/>
                <div class="mm-buttons">
                    <div class="content-panel-open">
                        <div class="os-icon os-icon-grid-circles"></div>
                    </div>
                    <div class="mobile-menu-trigger">
                        <div class="os-icon os-icon-hamburger-menu-1"></div>
                    </div>
                </div>
            </div>
            <div class="menu-and-user">
                <div class="logged-user-w">
                    <div class="avatar-w">
                        <img alt="" src="static/img/avatar1.jpg">
                    </div>
                    <div class="logged-user-info-w">
                        <div class="logged-user-name">
                            Мобиком
                        </div>
                        <div class="logged-user-role">
                            Администратор
                        </div>
                    </div>
                </div>
                <div class="mobile-menu-magic">
                    <h4>&nbsp;</h4>
                </div>
            </div>
        </div>
        <div class="menu-w color-scheme-light color-style-transparent menu-position-side menu-side-left menu-layout-compact sub-menu-style-over sub-menu-color-bright selected-menu-color-light menu-activated-on-hover menu-has-selected-link">
            <div class="logo-w">
                <a class="logo" href="index.html">
                    <div class="logo-element"></div>
                    <div class="logo-label">
                        МОБИКОМ
                    </div>
                </a>
            </div>
            <div class="logged-user-w avatar-inline">
                <div class="logged-user-i">
                    <div class="avatar-w">
                        <img alt="" src="static/img/avatar1.jpg">
                    </div>
                    <div class="logged-user-info-w">
                        <div class="logged-user-name">
                            Мобиком
                        </div>
                        <div class="logged-user-role">
                            Администратор
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="menu-page-header">
                Page Header
            </h1>
            <ul class="main-menu">
                <li class="sub-header">
                    <span>Управление</span>
                </li>
                <li class="selected has-sub-menu">
                    <a href="index.html">
                        <div class="icon-w">
                            <div class="os-icon os-icon-layout"></div>
                        </div>
                        <span>Пользователи</span></a>
                    <div class="sub-menu-w">
                        <div class="sub-menu-header">
                            Пользователи
                        </div>
                        <div class="sub-menu-icon">
                            <i class="os-icon os-icon-layout"></i>
                        </div>
                        <div class="sub-menu-i">
                            <ul class="sub-menu">
                                <li>
                                    <a href="/dashboard">Добавить пользователя</a>
                                </li>
                                <li>
                                    <a href="/allusers">Все пользователи</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>

                <li class="selected has-sub-menu">
                    <a href="index.html">
                        <div class="icon-w">
                            <div class="os-icon os-icon-layout"></div>
                        </div>
                        <span>Торговые точки</span></a>
                    <div class="sub-menu-w">
                        <div class="sub-menu-header">
                            Торговые точки
                        </div>
                        <div class="sub-menu-icon">
                            <i class="os-icon os-icon-layout"></i>
                        </div>
                        <div class="sub-menu-i">
                            <ul class="sub-menu">
                                <li>
                                    <a href="/newtp">Добавить торговую точку</a>
                                </li>
                                <li>
                                    <a href="/alltps">Все торговые точки</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="selected has-sub-menu">
                    <a href="index.html">
                        <div class="icon-w">
                            <div class="os-icon os-icon-layout"></div>
                        </div>
                        <span>Торговые секторы</span></a>
                    <div class="sub-menu-w">
                        <div class="sub-menu-header">
                            Торговые секторы
                        </div>
                        <div class="sub-menu-icon">
                            <i class="os-icon os-icon-layout"></i>
                        </div>
                        <div class="sub-menu-i">
                            <ul class="sub-menu">
                                <li>
                                    <a href="/newsector">Добавить сектор</a>
                                </li>
                                <li>
                                    <a href="/allsectors">Все секторы</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!--------------------
        END - Main Menu
        -------------------->
        <div class="content-w">
            <!--------------------
            START - Breadcrumbs
            -------------------->
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Главная</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="index.html">Все пользователи</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="index.html">Изменить пользователя</a>
                </li>
            </ul>
            <!--------------------
            END - Breadcrumbs
            -------------------->
            <div class="content-panel-toggler">
                <i class="os-icon os-icon-grid-squares-22"></i><span>Sidebar</span>
            </div>
            <div class="content-i">
                <div class="content-box">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="element-wrapper">
                                <div class="element-box">
                                    <form id="formValidate">
                                        <h5 class="form-header">
                                            Изменение пользователей
                                        </h5>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for=""> Логин</label>
                                                    <input class="form-control"
                                                           data-error="Пользователь с таким логином уже существует"
                                                           placeholder="Введите логин пользователя"
                                                           required="required"
                                                           type="text"
                                                           value="{{user_info.login}}">
                                                    <div class="help-block form-text with-errors form-control-feedback"></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for=""> Пароль пользователя</label>
                                                    <input class="form-control"
                                                           data-minlength="6"
                                                           placeholder="Пароль"
                                                           required="required"
                                                           type="password">
                                                    <div class="help-block form-text text-muted form-control-feedback">
                                                        Минимум 6 символов
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="">Подтвердите пароль</label>
                                                    <input class="form-control"
                                                           data-match-error="Пароли не совпадают"
                                                           placeholder="Подтверждение пароля"
                                                           required="required"
                                                           type="password">
                                                    <div class="help-block form-text with-errors form-control-feedback"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for=""> Выберите уровень пользователя</label>
                                                    <select class="form-control">
                                                        <option value="1">
                                                            1
                                                        </option>
                                                        <option value="2">
                                                            2
                                                        </option>
                                                        <option value="3">
                                                            3
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for=""> Выберите торговую точку</label>
                                                    <select class="form-control select2" multiple="true">
                                                        {% for tp in all_tp %}
                                                        <option>
                                                            {{tp.pointName}}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for=""> Выберите сектор</label>
                                                    <select class="form-control select2" multiple="false">
                                                        {% for sector in all_sectors %}
                                                        <option>
                                                            {{sector.sectorName}}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <fieldset class="form-group">
                                            <legend><span>Информация о сотруднике</span></legend>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for=""> Имя</label>
                                                        <input class="form-control"
                                                               data-error="Please input your First Name"
                                                               placeholder="Например, Иван"
                                                               required="required"
                                                               type="text"
                                                               value="{{user_info.name}}">
                                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="">Фамилия</label>
                                                        <input class="form-control"
                                                               data-error="Please input your Last Name"
                                                               placeholder="Например, Петров"
                                                               required="required"
                                                               type="text"
                                                               value="{{user_info.surname}}">
                                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="">Дата рождения</label>
                                                        <input
                                                                class="single-daterange form-control"
                                                                placeholder=""
                                                                type="text"
                                                                value="">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label> Дополнительный комментарий</label>
                                                        <textarea class="form-control" rows="1"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <div class="form-buttons-w">
                                            <button class="btn btn-primary" type="submit">Сохранить информацию</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="display-type"></div>
</div>
<script src="static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="static/bower_components/popper.js/dist/umd/popper.min.js"></script>
<script src="static/bower_components/moment/moment.js"></script>
<script src="static/bower_components/chart.js/dist/Chart.min.js"></script>
<script src="static/bower_components/select2/dist/js/select2.full.min.js"></script>
<script src="static/bower_components/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
<script src="static/bower_components/ckeditor/ckeditor.js"></script>
<script src="static/bower_components/bootstrap-validator/dist/validator.min.js"></script>
<script src="static/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="static/bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
<script src="static/bower_components/dropzone/dist/dropzone.js"></script>
<script src="static/bower_components/editable-table/mindmup-editabletable.js"></script>
<script src="static/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="static/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="static/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="static/bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
<script src="static/bower_components/tether/dist/js/tether.min.js"></script>
<script src="static/bower_components/slick-carousel/slick/slick.min.js"></script>
<script src="static/bower_components/bootstrap/js/dist/util.js"></script>
<script src="static/bower_components/bootstrap/js/dist/alert.js"></script>
<script src="static/bower_components/bootstrap/js/dist/button.js"></script>
<script src="static/bower_components/bootstrap/js/dist/carousel.js"></script>
<script src="static/bower_components/bootstrap/js/dist/collapse.js"></script>
<script src="static/bower_components/bootstrap/js/dist/dropdown.js"></script>
<script src="static/bower_components/bootstrap/js/dist/modal.js"></script>
<script src="static/bower_components/bootstrap/js/dist/tab.js"></script>
<script src="static/bower_components/bootstrap/js/dist/tooltip.js"></script>
<script src="static/bower_components/bootstrap/js/dist/popover.js"></script>
<script src="static/js/demo_customizer.js?version=4.4.0"></script>
<script src="static/js/main.js?version=4.4.0"></script>

</body>
</html>
