<!DOCTYPE html>
<html>
<head>
    <title>ФудТорг</title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="template language" name="keywords">
    <meta content="Tamerlan Soziev" name="author">
    <meta content="Admin dashboard html template" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="favicon.png" rel="shortcut icon">
    <link href="apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet" type="text/css">
    <link href="static/bower_components/select2/dist/css/select2.min.css" rel="stylesheet">
    <link href="static/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="static/bower_components/dropzone/dist/dropzone.css" rel="stylesheet">
    <link href="static/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="static/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="static/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css" rel="stylesheet">
    <link href="static/bower_components/slick-carousel/slick/slick.css" rel="stylesheet">
    <link href="static/css/main.css?version=4.4.0" rel="stylesheet">
</head>
<body class="menu-position-side menu-side-left full-screen with-content-panel">
<div class="all-wrapper with-side-panel solid-bg-all">
    <div class="layout-w">
        <!--------------------
        START - Mobile Menu
        -------------------->
        <div class="menu-mobile menu-activated-on-click color-scheme-dark">
            <div class="mm-logo-buttons-w"><img src="" width="100" height="30" alt=""/>
                <div class="mm-buttons">
                    <div class="content-panel-open">
                        <div class="os-icon os-icon-grid-circles"></div>
                    </div>
                    <div class="mobile-menu-trigger">
                        <div class="os-icon os-icon-hamburger-menu-1"></div>
                    </div>
                </div>
            </div>
            <div class="menu-and-user">
                <div class="logged-user-w">
                    <div class="avatar-w">
                        <img alt="" src="static/img/avatar1.jpg">
                    </div>
                    <div class="logged-user-info-w">
                        <div class="logged-user-name">
                            ФудТорг
                        </div>
                        <div class="logged-user-role">
                            Администратор
                        </div>
                    </div>
                </div>
                <div class="mobile-menu-magic">
                    <h4>&nbsp;</h4>
                </div>
            </div>
        </div>
        {% include 'addtemp/side_menu.html' %}
        <div class="content-w">
            <div class="top-bar color-scheme-transparent"></div>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Создание поставщика</a>
                </li>
            </ul>
            <div class="content-panel-toggler">
                <i class="os-icon os-icon-grid-squares-22"></i><span>Справочник</span>
            </div>
            <div class="content-i">
                <div class="content-box">
                    <div class="form-row">
                        <div class="form-group col-4">
                            <label for="seller_name">Имя поставщика</label>
                            <input type="text" class="form-control" id="seller_name">
                        </div>
                        <div class="form-group col-4">
                            <label for="group_parent">Диалог (WhatsApp)</label>
                            <select id="dialog_id" class="form-control">
                                <option value="" disabled selected>...</option>
                                {% for dialog in dialogs_list %}
                                    <option value="{{ dialog.id }}">
                                        {{ dialog.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-4">
                            <label for="seller_life_time_val">Срок жизни прайса</label>
                            <input type="text" class="form-control" id="seller_life_time_val">
                        </div>
                        <div class="form-group col-4">
                            <label for="seller_1c_id">ID поставщика в 1С</label>
                            <input type="text" class="form-control" id="seller_1c_id">
                        </div>
                        <div class="row w-100"></div>
                        <div class="form-group col-1">
                            <label for="seller_create"></label>
                            <a class="btn btn-primary text-white" id="seller_create">Создать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="display-type"></div>
</div>
<script src="static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="static/bower_components/popper.js/dist/umd/popper.min.js"></script>
<script src="static/bower_components/moment/moment.js"></script>
<script src="static/bower_components/chart.js/dist/Chart.min.js"></script>
<script src="static/bower_components/select2/dist/js/select2.full.min.js"></script>
<script src="static/bower_components/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
<script src="static/bower_components/ckeditor/ckeditor.js"></script>
<script src="static/bower_components/bootstrap-validator/dist/validator.min.js"></script>
<script src="static/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="static/bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
<script src="static/bower_components/dropzone/dist/dropzone.js"></script>
<script src="static/bower_components/editable-table/mindmup-editabletable.js"></script>
<script src="static/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="static/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="static/bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
<script src="static/bower_components/tether/dist/js/tether.min.js"></script>
<script src="static/bower_components/slick-carousel/slick/slick.min.js"></script>
<script src="static/bower_components/bootstrap/js/dist/util.js"></script>
<script src="static/bower_components/bootstrap/js/dist/alert.js"></script>
<script src="static/bower_components/bootstrap/js/dist/button.js"></script>
<script src="static/bower_components/bootstrap/js/dist/carousel.js"></script>
<script src="static/bower_components/bootstrap/js/dist/collapse.js"></script>
<script src="static/bower_components/bootstrap/js/dist/dropdown.js"></script>
<script src="static/bower_components/bootstrap/js/dist/modal.js"></script>
<script src="static/bower_components/bootstrap/js/dist/tab.js"></script>
<script src="static/bower_components/bootstrap/js/dist/tooltip.js"></script>
<script src="static/bower_components/bootstrap/js/dist/popover.js"></script>
<script src="static/js/demo_customizer.js?version=4.4.0"></script>
<script src="static/js/main.js?version=4.4.0"></script>
<script src="static/bower_components/bootstrap/js/dist/popover.js"></script>
<script src="static/js/dataTables.bootstrap4.min.js"></script>

<script>
    var current_dialog_id = '';

    $(document).ready(function () {
        $('#dialog_id').change(function () {
            current_dialog_id = $(this).val();
        });

        $('#seller_create').click(function () {
            let seller_name = $('#seller_name').val();
            let seller_life_time_val = $('#seller_life_time_val').val();
            let seller_1c_id = $('#seller_1c_id').val();
            $.ajax({
                url: "/api/create_seller",
                data: JSON.stringify({
                    seller_name: seller_name,
                    dialog_id: current_dialog_id,
                    seller_life_time_val: seller_life_time_val,
                    seller_1c_id: seller_1c_id
                }),
                contentType: 'application/json;charset=UTF-8',
                method: 'POST',
                success: function (response) {
                    let msg = JSON.parse(JSON.stringify(response));
                    let answer_id = msg.msgid;
                    if (answer_id === '0') {
                        alert('Поставщик успешно добавлен')
                    }
                    if (answer_id === '1') {
                        alert('Поставщик с такими параметрами уже есть')
                    }

                    location.reload();
                },
                error: function (error) {
                }
            });
        });

    });
</script>
</body>
</html>
